:root {
  --large-screen: 1920px;
  // // Fonts
  --main-font: 'Montserrat', serif;
  --secondary-font: 'El Messiri', serif;
  // Text colors
  --main-txt-cl: #ffffff;
  // Accent colors
  --accent-cl: #018abe;
  --accent-hovered-cl: #66cef7;
  // Background colors
  --background-cl: #162831;
  // Btn colors
  --btn-white-cl: #ffffff;
  --btn-white-hovered-cl: #91eeff;
  --btn-blue-hovered-cl: #057baa;
  // Border radius
  --btn-br: 3px;
  // Duration
  --duration: 250ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
