<section class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title visually-hidden">Контакти</h2>
    <div class="contacts__wrap">
      <iframe
        class="contacts__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24176.170406082838!2d30.610570310156497!3d50.437247123700494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfef93978f79%3A0x46445c76e08e1012!2z0LLRg9C70LjRhtGPINCc0LjRgtGA0L7Qv9C-0LvQuNGC0LAg0JDQvdC00YDQtdGPINCo0LXQv9GC0LjRhtGM0LrQvtCz0L4sIDQsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1733098459583!5m2!1suk!2sua"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <ul class="contacts__list">
        <li class="contacts__item">
          <h3 class="contacts__subtitle">Басейн WorkClass</h3>
          <p>
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-map-pin"></use>
            </svg>
            вулиця Волоська, 50/38
          </p>
          <p>
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-subway"></use>
            </svg>
            м. Житомирська
          </p>
          <p class="contacts__info">
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-calendar"></use>
            </svg>
            Запис за домовленістю
          </p>
          <button class="contacts__btn">Записатися на сеанс</button>
        </li>
        <li class="contacts__item">
          <h3 class="contacts__subtitle">Басейн "На Горохівській"</h3>
          <p>
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-map-pin"></use>
            </svg>
            вулиця Митрополита Андрея Шептицького, 4
          </p>
          <p>
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-subway"></use>
            </svg>
            м. Лівобережна
          </p>
          <p class="contacts__info">
            <svg class="" width="20" height="20">
              <use href="./images/sprite.svg#icon-calendar"></use>
            </svg>
            Запис за домовленістю
          </p>
          <button class="contacts__btn">Записатися на сеанс</button>
        </li>
      </ul>
    </div>
  </div>
</section>
