<header class="header">
  <div class="header__container">
    <a href="./index.html" area-label="Logo">
      <svg class="logo" width="60" height="60">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link">Головна</a></li>
        <li class="nav__item"><a class="nav__link">Сеанси</a></li>
        <li class="nav__item"><a class="nav__link">Відгуки</a></li>
        <li class="nav__item"><a class="nav__link">Контакти</a></li>
        <li class="nav__item"><a class="nav__link">Новини</a></li>
        <li class="nav__item"><a class="nav__link">Про нас</a></li>
        <li class="nav__item"><a class="nav__link">Блог</a></li>
      </ul>
    </nav>
    <button class="btn">Записатися на сеанс</button>
  </div>
</header>
