<header class="header" data-header>
  <div class="header__container">
    <a href="./index.html" area-label="Logo">
      <svg class="logo" width="60" height="60">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#hero">Головна</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#sessions">Сеанси</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#reviews">Відгуки</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">Контакти</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#prices">Ціни</a></li>
        <li class="nav__item">
          <a class="nav__link" href="#about">Про нас</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="№">Блог</a></li>
      </ul>
    </nav>
    <button class="btn btn--blue">Записатися на сеанс</button>
  </div>
</header>
