<section class="hero">
  <div class="hero__container">
    <div class="hero__wrap">
      <h2 class="hero__uppertitle">
        <svg class="hero__icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-list-left"></use>
        </svg>
        Зміцнення здоров'я
        <svg class="hero__icon" width="28" height="28">
          <use href="./images/sprite.svg#icon-list-right"></use>
        </svg>
      </h2>
      <h1 class="hero__title">Акватерапія RitmStyle</h1>
    </div>
  </div>
</section>
