<section class="prices" id="prices">
  <div class="prices__container">
    <h2 class="prices__title">
      <svg class="prices__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-left"></use>
      </svg>
      Вартість сеансів
      <svg class="prices__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-right"></use>
      </svg>
    </h2>
    <div class="prices__wrap">
      <table class="prices__table">
        <tbody>
          <tr>
            <td>
              <svg class="prices__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-list-left"></use>
              </svg>
            </td>
            <td class="prices__name">RitmStyle з пірнанням</td>
            <td class="">500 грн</td>
          </tr>
          <tr>
            <td class="">
              <svg class="prices__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-list-left"></use>
              </svg>
            </td>
            <td class="prices__name">Абонемент на RitmStyle</td>
            <td class="">2500 грн</td>
          </tr>
          <tr>
            <td class="">
              <svg class="prices__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-list-left"></use>
              </svg>
            </td>
            <td class="prices__name">RitmStyle для пар</td>
            <td class="">3000 грн</td>
          </tr>
          <tr>
            <td class="">
              <svg class="prices__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-list-left"></use>
              </svg>
            </td>
            <td class="prices__name">RitmStyle для вагітних</td>
            <td class="">7000 грн</td>
          </tr>
          <tr>
            <td class="">
              <svg class="prices__icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-list-left"></use>
              </svg>
            </td>
            <td class="prices__name">RitmStyle + фотосесія</td>
            <td class="">6000 грн</td>
          </tr>
        </tbody>
      </table>
      <figure>
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1920px)"
            srcset="
              ./images/prices/prices-img01.webp    1x,
              ./images/prices/prices-img01@2x.webp 2x,
              ./images/prices/prices-img01@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1920px)"
            srcset="
              ./images/prices/prices-img01.jpg    1x,
              ./images/prices/prices-img01@2x.jpg 2x,
              ./images/prices/prices-img01@3x.jpg 3x
            "
            type="image/jpeg"
          />
          <img
            src="./images/prices/prices-img01.jpg"
            alt="Фото сертифіката"
            width="526"
            height="396"
          />
        </picture>
        <figcaption class="prices__descr">Подарунковий сертифікат</figcaption>
      </figure>
    </div>
  </div>
</section>
