<section class="sessions _yakir" id="sessions">
  <div class="sessions__container">
    <h2 class="sessions__title">
      <svg class="sessions__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-left"></use>
      </svg>
      Сеанси RitmStyle
      <svg class="sessions__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-right"></use>
      </svg>
    </h2>
    <div class="sessions__wrap">
      <div class="sessions__thumb">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1920px)"
            srcset="
              ./images/session/session-img01.webp    1x,
              ./images/session/session-img01@2x.webp 2x,
              ./images/session/session-img01@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1920px)"
            srcset="
              ./images/session/session-img01.jpg    1x,
              ./images/session/session-img01@2x.jpg 2x,
              ./images/session/session-img01@3x.jpg 3x
            "
            type="image/jpeg"
          />
          <img
            src="./images/session/session-img01@3x.jpg"
            alt="Дівчина у воді"
            width="416"
            height="540"
          />
        </picture>
        <p class="sessions__text">Стандартний RitmStyle</p>
      </div>
      <ul class="sessions__list">
        <li class="sessions__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img02.webp    1x,
                ./images/session/session-img02@2x.webp 2x,
                ./images/session/session-img02@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img02.jpg    1x,
                ./images/session/session-img02@2x.jpg 2x,
                ./images/session/session-img02@3x.jpg 3x
              "
              type="image/jpeg"
            />
            <img
              src="./images/session/session-img02@3x.jpg"
              alt="Дівчина у воді"
              width="416"
              height="258"
            />
          </picture>
          <p class="sessions__descr">RitmStyle для пар</p>
        </li>
        <li class="sessions__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img03.webp    1x,
                ./images/session/session-img03@2x.webp 2x,
                ./images/session/session-img03@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img03.jpg    1x,
                ./images/session/session-img03@2x.jpg 2x,
                ./images/session/session-img03@3x.jpg 3x
              "
              type="image/jpeg"
            />
            <img
              src="./images/session/session-img03@3x.jpg"
              alt="Дівчина у воді"
              width="416"
              height="258"
            />
          </picture>
          <p class="sessions__descr">RitmStyle з повним пірнанням під воду</p>
        </li>
        <li class="sessions__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img04.webp    1x,
                ./images/session/session-img04@2x.webp 2x,
                ./images/session/session-img04@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img04.jpg    1x,
                ./images/session/session-img04@2x.jpg 2x,
                ./images/session/session-img04@3x.jpg 3x
              "
              type="image/jpeg"
            />
            <img
              src="./images/session/session-img04@3x.jpg"
              alt="Дівчина у воді"
              width="416"
              height="258"
            />
          </picture>
          <p class="sessions__descr">RitmStyle для вагітних</p>
        </li>
        <li class="sessions__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img05.webp    1x,
                ./images/session/session-img05@2x.webp 2x,
                ./images/session/session-img05@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                ./images/session/session-img05.jpg    1x,
                ./images/session/session-img05@2x.jpg 2x,
                ./images/session/session-img05@3x.jpg 3x
              "
              type="image/jpeg"
            />
            <img
              src="./images/session/session-img05@3x.jpg"
              alt="Дівчина у воді"
              width="416"
              height="258"
            />
          </picture>
          <p class="sessions__descr">RitmStyle + підводна фотосесія</p>
        </li>
      </ul>
    </div>
  </div>
</section>
