<section class="sessions">
  <!-- <div class="container"> -->
  <div class="sessions__container">
    <h2 class="sessions__title">
      <svg class="sessions__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-left"></use>
      </svg>
      Сеанси RitmStyle
      <svg class="sessions__icon" width="28" height="28">
        <use href="./images/sprite.svg#icon-list-right"></use>
      </svg>
    </h2>
    <div class="sessions__wrap">
      <div class="sessions__thumb">
        <img
          src="./images/session/session-img01.jpg"
          alt="Дівчина у воді"
          width="416"
          height="540"
        />
        <p class="sessions__text">Стандартний RitmStyle</p>
      </div>
      <ul class="sessions__list">
        <li class="sessions__item">
          <img
            src="./images/session/session-img02.jpg"
            alt="Дівчина у воді"
            width="416"
            height="258"
          />
          <p class="sessions__descr">RitmStyle для пар</p>
        </li>
        <li class="sessions__item">
          <img
            src="./images/session/session-img03.jpg"
            alt="Дівчина у воді"
            width="416"
            height="258"
          />
          <p class="sessions__descr">RitmStyle з повним пірнанням під воду</p>
        </li>
        <li class="sessions__item">
          <img
            src="./images/session/session-img04.jpg"
            alt="Дівчина у воді"
            width="416"
            height="258"
          />
          <p class="sessions__descr">RitmStyle для вагітних</p>
        </li>
        <li class="sessions__item">
          <img
            src="./images/session/session-img05.jpg"
            alt="Дівчина у воді"
            width="416"
            height="258"
          />
          <p class="sessions__descr">RitmStyle + підводна фотосесія</p>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</section>
