.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--btn-br);
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  min-width: 155px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn--blue {
  color: inherit;
  background-color: var(--accent-cl);

  &:hover,
  &:focus {
    background-color: var(--btn-blue-hovered-cl);
  }
}

.btn--white {
  color: var(--accent-cl);
  background-color: var(--btn-white-cl);

  &:hover,
  &:focus {
    background-color: var(--btn-white-hovered-cl);
  }
}
