.slider-box {
  display: flex;
  width: 1736px;
  margin: 0 auto;
  overflow: hidden;
  height: 450px;
}

.swiper-slide {
  margin-top: 40px;
  margin-left: -150px;
  // margin-left: -125px;
  // margin-right: 195px;
  max-height: 350px;
  max-width: 636px;
  border-radius: 10px;
  background-color: var(--accent-cl);
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 56px;
  padding-left: 60px;
}

.slide__subtitle {
  margin-bottom: 20px;
}
