.hero {
  @include section(20, 150);
  // display: flex;
  // justify-content: center;
}

.hero__container {
  @extend .container;
}

.hero__wrap {
  border-radius: 10px;
  background-color: var(--background-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
  max-width: 1296px;
  padding-top: 136px;
  padding-bottom: 210px;
  background-image: url(../images/hero/hero-img.jpg);
  background-image: -webkit-image-set(url('../images/hero/hero-img.webp') 1x);
  @include retinax2 {
    background-image: url(../images/hero/hero-img@2x.jpg);
    background-image: -webkit-image-set(
      url('../images/hero/hero-img@2x.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url(../images/hero/hero-img@3x.jpg);
    background-image: -webkit-image-set(
      url('../images/hero/hero-img@3x.webp') 3x
    );
  }
}

.hero__uppertitle {
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 40px;
}

.hero__icon {
  fill: #fff;

  &:first-child {
    margin-right: 66px;
  }

  &:last-child {
    margin-left: 66px;
  }
}

.hero__title {
  @extend %main-title;
  max-width: 587px;
  margin: 0 auto;
}
